body {
    background-color: #F1F1F1;
}

.navbar-brand {
    margin-left: 3%;
}

.content {
    margin-top: 90px;
    text-align: center;
}

.heading {
    font-family: 'Fredoka One', cursive;
    margin-top: 10%;
    margin-bottom: 70px;
}

.heading h1 {
    font-size: 400%;
}

.heading i {
    margin-top: 20px;
    font-size: 400%;
}

.notice {
    background-color: #DFDCDC;
    width: 60%;
    margin:auto;
    padding: 3%;
    border-radius: 15px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.notice h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 230%;
    font-weight: bold;
}

.notice-para {
    margin-top: 5%;
}

.notice-para h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 190%;
    font-weight: 0;
}

.content a {
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

footer {
    background-color: #F1F1F1;
    
}

.footer-div{
    display: flex;
    margin: auto;
    width: 50%;
    padding: 3% 0 3% 0
}

.footer-copy {
    text-align: center;
    margin: auto;
    width: 100%;
}

.footer-copy h4 {
    font-family:'Fredoka One', cursive  ;
    font-size: 40px;
    margin-top: 4%;
}

.social {
    margin-top: 2%;
    font-size: 30px;
    width: 8%
}

@media only screen and (max-width: 450px){
   .notice {
       width: 80%
   }

   .footer-div {
    padding-bottom: 35%;
}
}

@media only screen and (max-width: 500px) {
    .social {
        width: 25%
    }

    .footer-div {
        padding: 5% 0 25% 0
    }
}